.description{
  text-align: center;
  width: 265px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
}
.outputArea{
  display: block;
  width: 600px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
}
.keyboard-container{
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  width: 850px;
  cursor: pointer;
  user-select: none;
  .rows{
    width: 100%;
    display: flex;
    justify-content: space-between;
    div{
      margin: 2px;
      border-radius: 5px;
      background-color: cornflowerblue;
      font-weight: 700;
      height: 50px;
      flex-basis: 50px;
      flex-shrink: 0;
      flex-grow: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      transition: border-radius 75ms ease-in-out;
      transition: background-color 75ms ease-in-out;
      .hidden{
        display: none;
      }
    }
    .Backspace,
    .Tab,
    .CapsLock,
    .ShiftLeft,
    .ControlLeft,
    .MetaLeft,
    .AltLeft,
    .AltRight,
    .MetaRight,
    .ContextMenu,
    .ControlRight,
    .Enter{
      flex-grow: 1;
    }
    .Space{
      flex-grow: 15;
    }
    .active{
      border-radius: 25px;
      background-color: rgb(73, 111, 180);
      transition: background-color 75ms ease-in-out;
      transition: border-radius 75ms ease-in-out;
    }
  }
}